html {
    font-family: 'Paytone One', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('comic.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  
}
.bottom-section {
  background-image: url('comic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  position:down;
  bottom: 0;
  margin-top: 500px;
  
  
}
.bottom-section img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}



/* Regla para pantallas de 600px o menos */
@media (max-width: 600px) {
  body {
    font-size: 14px;
    text-align:center;
  }
}

/* Regla para pantallas de más de 600px */
@media (min-width: 601px) {
  body {
    font-size: 16px;
  }
}

h1, h2 {
    font-family: 'Gajraj One', cursive;
  text-align: center;
}

/* header styles */

h1 {
  font-size: 9rem;
  margin: 0;
}

header p {
  font-size: 2.0rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
  margin-bottom: 20px; 
  text-align: center
}

section p {
  margin: 15px 0;
}

section ul li {
  margin-left: 20px;
}

section ul li span {
  display: inline-block;
  width: 100px;
}


h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;

}
 




